{% extends 'base.html' %}

{% block faq_content %}
{% for i in faqbg %}
  {% if i.img %}
    <div id="banner-area" class="banner-area" style="background-image:url('{{ i.img.url }}')">
  {% endif %}
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">{{ i.name1 }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                          {% if forloop.counter0 <= 1 %}
                          <li class="breadcrumb-item"><a href="#">{{ i.name2 }}</a></li>
                          {% else %}
                          <li class="breadcrumb-item active" aria-current="page">{{ i.name2 }}</li>
                          {% endif %}
                        </ol>
                    </nav>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end --> 
{% endfor %}

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row">
      <div class="col-lg-8">
        {% for i in faqcattitle1 %}
        <div>
          <h3 class="border-title border-left mar-t0">{{ i.title }}</h3>
        </div>
        {% endfor %}

        {% for i in faqcat1 %}
        <div class="accordion accordion-group accordion-classic" id="construction-accordion">
          {% if forloop.counter0 == 0 %}
          <div class="card">
            <div class="card-header p-0 bg-transparent" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  {{ i.name }}
                </button>
              </h2>
            </div>
            {% for j in i.subcat1.all %}
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
              data-parent="#construction-accordion">
              <div class="card-body">
                {{ j.about }}
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="card">
            <div class="card-header p-0 bg-transparent" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ i.name }}
                </button>
              </h2>
            </div>
            {% for j in i.subcat1.all %}
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#construction-accordion">
              <div class="card-body">
                {{ j.about }}
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <!--/ Accordion end -->

        <div class="gap-40"></div>

        {% for i in faqcattitle2 %}
        <div>
          <h3 class="border-title border-left">{{ i.title }}</h3>
        </div>
        {% endfor %}

        {% for i in faqcat2 %}
        <div class="accordion accordion-group accordion-classic" id="safety-accordion">
          {% if forloop.counter0 == 0 %}
          <div class="card">
            <div class="card-header p-0 bg-transparent" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="true" aria-controls="collapseFour">
                  {{ i.name }}
                </button>
              </h2>
            </div>
            {% for j in i.subcat2.all %}
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
              data-parent="#safety-accordion">
              <div class="card-body">
                {{ j.about }}
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="card">
            <div class="card-header p-0 bg-transparent" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  {{ i.name }}
                </button>
              </h2>
            </div>
            {% for j in i.subcat2.all %}
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#safety-accordion">
              <div class="card-body">
                {{ j.about }}
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <!--/ Accordion end -->

      </div><!-- Col end -->

      <div class="col-lg-4 mt-5 mt-lg-0">

        <div class="sidebar sidebar-right">
          <div class="widget recent-posts">
            {% for i in faqposttitle %}
            <div>
              <h3 class="widget-title">{{ i.title }}</h3>
            </div>
            {% endfor %}

            <ul class="list-unstyled">
              {% for i in faqpost %}
              <li class="d-flex align-items-center">
                <div class="posts-thumb">
                  <a href="#"><img loading="lazy" alt="news-image" src="{{ i.img.url }}"></a>
                </div>
                <div class="post-info">
                  <h4 class="entry-title">
                    <a href="#">{{ i.about }}</a>
                  </h4>
                </div>
              </li><!-- 1st post end-->
              {% endfor %}
            </ul>

          </div><!-- Recent post end -->
        </div><!-- Sidebar end -->

      </div><!-- Col end -->

    </div><!-- Content row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->
{% endblock %}