{% extends 'base.html' %}

{% block content %}
<div class="banner-carousel banner-carousel-1 mb-0">
  {% for i in homecarusel1 %}
  <div class="banner-carousel-item" style="background-image:url('{{ i.img.url }}')">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">{{ i.name1 }}</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">{{ i.name2 }}</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <a href="services.html" class="slider btn btn-primary">Our Services</a>
                    <a href="contact.html" class="slider btn btn-primary border">Contact Now</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
  {% endfor %}

  {% for i in homecarusel2 %}
  <div class="banner-carousel-item" style="background-image:url('{{ i.img.url }}')">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title-box" data-animation-in="slideInDown">{{ i.name1 }}</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">{{ i.name2 }}</h3>
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">{{ i.name3 }}</h3>
                <p data-animation-in="slideInRight">
                    <a href="services.html" class="slider btn btn-primary border">Our Services</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
  {% endfor %}

  {% for i in homecarusel3 %}
  <div class="banner-carousel-item" style="background-image:url('{{ i.img.url }}')">
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title" data-animation-in="slideInDown">{{ i.name1 }}</h2>
                <h3 class="slide-sub-title" data-animation-in="fadeIn">{{ i.name2 }}</h3>
                <p class="slider-description lead" data-animation-in="slideInRight">{{ i.name3 }}</p>
                <div data-animation-in="slideInLeft">
                    <a href="contact.html" class="slider btn btn-primary" aria-label="contact-with-us">Get Free Quote</a>
                    <a href="{% url 'about' %}" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn more</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  {% endfor %}
</div>

<section class="call-to-action-box no-padding">
  <div class="container">
    <div class="action-style-box">
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
              {% for i in yourneed %}
              <div class="call-to-action-text">
                <h3 class="action-title">{{ i.name }}</h3>
              </div>
              {% endfor %}
          </div><!-- Col end -->
          <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
              <div class="call-to-action-btn">
                <a class="btn btn-dark" href="#">Request Quote</a>
              </div>
          </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- Action style box -->
  </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          {% for i in aboutus %}
          <div class="ts-intro">
              <h2 class="into-title">{{ i.name1 }}</h2>
              <h3 class="into-sub-title">{{ i.name2 }}</h3>
              <p>{{ i.about }}</p>
          </div><!-- Intro box end -->
          {% endfor %}
          <div class="gap-20"></div>

          <div class="row">
              {% for i in service %}
              <div class="col-md-6">
                <div class="ts-service-box">
                    {% if forloop.counter == 1 %}
                    <span class="ts-service-icon">
                      <i class="fas fa-trophy"></i>
                    </span>

                    {% elif forloop.counter == 2 %}
                    <span class="ts-service-icon">
                      <i class="fas fa-sliders-h"></i>
                    </span>

                    {% elif forloop.counter == 3 %}
                    <span class="ts-service-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </span>

                    {% elif forloop.counter == 4 %}
                    <span class="ts-service-icon">
                      <i class="fas fa-users"></i>
                    </span>
                    {% endif %}
                    <div class="ts-service-box-content">
                      <h3 class="service-box-title">{{ i.name }}</h3>
                    </div>
                </div><!-- Service 1 end -->
              </div><!-- col end -->
              {% endfor %}
          </div><!-- Content row 1 end -->
        </div><!-- Col end -->

        <div class="col-lg-6 mt-4 mt-lg-0">
          {% for i in value %}
          <h3 class="into-sub-title">{{ i.name }}</h3>
          <p>{{ i.about }}</p>
          {% endfor %}

          {% for i in valuecategory %}
          <div class="accordion accordion-group" id="our-values-accordion">
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          {{ i.name }}
                      </button>
                    </h2>
                </div>
                <div id="{{ i.id }}" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
                    {% for j in i.subcateg.all %}
                    <div class="card-body">
                      {{ j.about }}
                    </div>
                    {% endfor %}
                </div>
              </div>
          </div>
          {% endfor %}
          <!--/ Accordion end -->

        </div><!-- Col end -->
    </div><!-- Row end -->
  </div><!-- Container end -->
</section><!-- Feature are end -->

<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="facts-wrapper">
        <div class="row">
          {% for i in fact %}
          <div class="col-md-3 col-sm-6 ts-facts">
              <div class="ts-facts-img">
                <img loading="lazy" src="{{ i.img.url }}" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="{{ i.num }}">0</span></h2>
                <h3 class="ts-facts-title">{{ i.name }}</h3>
              </div>
          </div><!-- Col end -->
          {% endfor %}
        </div> <!-- Facts end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Facts end -->

<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
      {% for i in specialist %}
        <div class="col-12">
          <h2 class="section-title">{{ i.name1 }}</h2>
          <h3 class="section-sub-title">{{ i.name2 }}</h3>
        </div>
      {% endfor %}
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4">
        {% for i in skill1 %}
        <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="{{ i.img.url }}" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">{{ i.name }}</a></h3>
              <p>{{ i.about }}</p>
            </div>
        </div><!-- Service 1 end -->
        {% endfor %}
      </div><!-- Col end -->

      {% for i in serviceavatar %}
      <div class="col-lg-4 text-center">
        <img loading="lazy" class="img-fluid" src="{{ i.img.url }}" alt="service-avater-image">
      </div><!-- Col end -->
      {% endfor %}
      
      <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
        {% for i in skill2 %}
        <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="{{ i.img.url }}" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">{{ i.name }}</a></h3>
              <p>{{i.about  }}</p>
            </div>
        </div><!-- Service 4 end -->
        {% endfor %}
      </div><!-- Col end -->
  </div><!-- Content row end -->
</section><!-- Service end -->

<section id="project-area" class="project-area solid-bg">
  <div class="container">
    <div class="row text-center">
      {% for i in projecttitle %}
      <div class="col-lg-12">
        <h2 class="section-title">{{ i.name1 }}</h2>
        <h3 class="section-sub-title">{{ i.name2 }}</h3>
      </div>
      {% endfor %}
      
    </div>
    <!--/ Title row end -->

    <div class="row">
      {% for i in projectcategory %}
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="{% if forloop.counter0 == 0 %} active {% endif %}" for="all">
            <label for="{{ i.id }}">
              <input type="radio" name="shuffle-filter" id="{{ i.id }}" value="commercial">{{ i.name }}
            </label>
          </label>
        </div><!-- project filter end -->

        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
              {% for j in i.subcat.all %}
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/project1.jpg" aria-label="project-img">
                  <img class="img-fluid" src="{{ j.img.url }}" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html">{{ j.name1 }}</a>
                    </h3>
                    <p class="project-cat">{{ j.name2 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div><!-- shuffle item 1 end -->
        </div><!-- shuffle end -->
      </div>
      {% endfor %}

      {% for i in viewallprojectbutton %}
      <div class="col-12">
        <div class="general-btn text-center">
          <a class="btn btn-primary" href="projects.html">{{ i.name }}</a>
        </div>
      </div>
      {% endfor %}

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Project area end -->

<section class="content">
  <div class="container">
    <div class="row">
        {% for i in testimonialtitle %}
        <div class="col-lg-6">
          <h3 class="column-title">{{ i.name }}</h3>
        {% endfor %}
          
          <div id="testimonial-slide" class="testimonial-slide">
              {% for i in testimonial %}
              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">
                      {{ i.about }}
                    </span>

                    <div class="quote-item-footer">
                      <img loading="lazy" class="testimonial-thumb" src="{{ i.img.url }}" alt="testimonial">
                      <div class="quote-item-info">
                          <h3 class="quote-author">{{ i.name2 }}</h3>
                          <span class="quote-subtext">{{ i.name3 }}</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              {% endfor %}
              <!--/ Item 1 end -->
          </div>
          <!--/ Testimonial carousel end-->
        </div><!-- Col end -->

        <div class="col-lg-6 mt-5 mt-lg-0">

          {% for i in happyclienttitle %}
          <h3 class="column-title">{{ i.title }}</h3>
          {% endfor %}

          <div class="row all-clients">
              {% for i in client %}
              <div class="col-sm-4 col-6">
                <figure class="clients-logo">
                    <a href="#!"><img loading="lazy" class="img-fluid" src="{{ i.img.url }}" alt="clients-logo" /></a>
                </figure>
              </div><!-- Client 1 end -->
              {% endfor %}
          </div><!-- Clients row end -->

        </div><!-- Col end -->

    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Content end -->

<section class="subscribe no-padding">
  <div class="container">
    {% for i in newsletter %}
    <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
              <h3>{{ i.name1 }}</h3>
              <h4>{{ i.name2 }}</h4>
          </div>
        </div><!-- Col end -->

        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
              <div class="col-md-5 newsletter-introtext">
                <h4 class="text-white mb-0">{{ i.name3 }}</h4>
                <p class="text-white">{{ i.name4 }}</p>
              </div>

              <div class="col-md-7 newsletter-form">
                <form action="#" method="post">
                    <div class="form-group">
                      <label for="newsletter-email" class="content-hidden">Newsletter Email</label>
                      <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Your your email and hit enter" autocomplete="off">
                    </div>
                </form>
              </div>
          </div><!-- Newsletter end -->
        </div><!-- Col end -->
    {% endfor %}
    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ subscribe end -->

<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
        {% for i in projecttitle2 %}
        <div class="col-12">
          <h2 class="section-title">{{ i.title1 }}</h2>
          <h3 class="section-sub-title">{{ i.title2 }}</h3>
        </div>
        {% endfor %}
    </div>
    <!--/ Title row end -->

    <div class="row">
        {% for i in project2 %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="news-single.html" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{{ i.img.url }}" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="news-single.html" class="d-inline-block">{{ i.about }}</a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> {{ i.date }}
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->
        {% endfor %}
    </div>
    <!--/ Content row end -->

    {% for i in seeallpostbutton %}
    <div class="general-btn text-center mt-4">
        <a class="btn btn-primary" href="news-left-sidebar.html">{{ i.name }}</a>
    </div>
    {% endfor %}

  </div>
  <!--/ Container end -->
</section>
<!--/ News end -->

  

  </div><!-- Body inner end -->
  </body>
  </html>
  {% endblock %}