{% extends 'base.html' %}

{% block pricing_content %}
{% for i in pricingbg %}
  {% if i.img %}
    <div id="banner-area" class="banner-area" style="background-image:url('{{ i.img.url }}')">
  {% endif %}
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">{{ i.name1 }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                          {% if forloop.counter0 <= 1 %}
                          <li class="breadcrumb-item"><a href="#">{{ i.name2 }}</a></li>
                          {% else %}
                          <li class="breadcrumb-item active" aria-current="page">{{ i.name2 }}</li>
                          {% endif %}
                        </ol>
                    </nav>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end --> 
{% endfor %}

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row text-center">
      {% for i in pricingtitle %}
      <div class="col-12">
        <h2 class="section-title">{{ i.title1 }}</h2>
        <h3 class="section-sub-title">{{ i.title2 }}</h3>
      </div>
      {% endfor %}
    </div>
    <!--/ Title row end -->

    <div class="row">
      {% for i in pricingplan %}
      <div class="col-lg-4 col-md-6">
        <div class="ts-pricing-box">
          <div class="ts-pricing-header">
            <h2 class="ts-pricing-name">{{ i.title }}</h2>
            <h2 class="ts-pricing-price">
              <span class="currency">$</span><strong>{{ i.price }}</strong><small>{{ i.date }}</small>
            </h2>
          </div><!-- Pricing header -->
          <div class="ts-pricing-features">
            {% for j in i.subcateg.all %}
            <ul class="list-unstyled">
              <li>{{ j.features }}</li>
            </ul>
            {% endfor %}
          </div><!-- Features end -->
          <div class="plan-action">
            <a href="#" class="btn btn-dark">Order Now</a>
          </div>
        </div><!-- Plan 1 end -->
      </div><!-- Col end -->
      {% endfor %}
    </div>
    <!--/ Content row end -->

  </div><!-- Conatiner end -->
</section><!-- Main container end -->
{% endblock %}