{% extends 'base.html' %}

{% block testimonial_content %}
{% for i in testimonialbg %}
  {% if i.img %}
    <div id="banner-area" class="banner-area" style="background-image:url('{{ i.img.url }}')">
  {% endif %}
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">{{ i.name1 }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                          {% if forloop.counter0 <= 1 %}
                          <li class="breadcrumb-item"><a href="#">{{ i.name2 }}</a></li>
                          {% else %}
                          <li class="breadcrumb-item active" aria-current="page">{{ i.name2 }}</li>
                          {% endif %}
                        </ol>
                    </nav>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end --> 
{% endfor %}

<section id="main-container" class="main-container">
   <div class="container">
      <div class="row text-center">
         {% for i in testimonialquotetitle %}
         <div class="col-12">
            <h3 class="section-sub-title mb-4">{{ i.title }}</h3>
         </div>
         {% endfor %}
      </div>
      <!--/ Title row end -->

      <div class="row">
         {% for i in testimonialquote %}
         <div class="col-lg-4 col-md-6">
            <div class="quote-item quote-border mt-5">
               <div class="quote-text-border">
                  {{ i.about }}
               </div>

               <div class="quote-item-footer">
                  <img loading="lazy" class="testimonial-thumb" src="{{ i.img.url }}" alt="testimonial">
                  <div class="quote-item-info">
                     <h3 class="quote-author">{{ i.name1 }}</h3>
                     <span class="quote-subtext">{{ i.name2 }}</span>
                  </div>
               </div>
            </div><!-- Quote item end -->
         </div><!-- End col md 4 -->
         {% endfor %}
      </div><!-- Content row end -->
   </div><!-- Container end -->
</section><!-- Main container end -->
{% endblock %}